<% if flash[:error_message] %>
  <div class="ui center aligned header">
    <div class="ui negative message">
      <% flash[:error_message].each do |msg| %>
        <ul>
          <li><%= msg %></li>
        </ul>
      <% end %>
    </div>
  </div>
<% end %>
<div class="ui grid">
  <div class="three column row">
    <div class="column"></div>
    <div class="column ui center aligned header"><h2>新規登録</h2></div>
    <div class="column ui right aligned header">
    </div>
  </div>
</div>
<div class="ui divider"></div>
<div class="ui form">
  <div class="three field">
    <%= form_with model: @user, method: :post do |f|%>
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password%>
      </div>
      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </div>
      <%= f.submit "登録", class: "ui blue button" %>
    <% end %>
  </div>
</div>
