<div class="ui grid">
  <div class="three column row">
    <div class="column"></div>
    <div class="column ui center aligned header"><h2>編集</h2></div>
    <div class="column ui right aligned header"><%= link_to "掲示板一覧", boards_path, class: "ui button"%></div>
  </div>
</div>
<div class="ui divider"></div>
<div class="ui form">
  <%= form_with model: @board, url: board_path, method: :put, local: true do |f|%>
    <div class="three fields">
      <div class="field">
        <%= f.label :before_weight %>
        <%= f.text_field :before_weight %>
      </div>
      <div class="field">
        <%= f.label :after_weight %>
        <%= f.text_field :after_weight %>
      </div>
      <div class="field">
      <%# 第一引数はtagオブジェクトと関連づけるboardオブジェクトのプロパティ名を指定している。
      第二引数はtagオブジェクトのリストを取得して渡している。
      第三引数はチェックボックスのvalueの値を指定している。tagオブジェクトの個々のidが入る
      第四引数は各チェックボックスのラベル名としてTagオブジェクトのnameプロパティが入る
       %>
      <p>運動内容(複数選択可)</p>
      <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
        <div class="filed">
          <%= tag.label do %>
            <%= tag.check_box class: "checkbox"%>
            <%= tag.text %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="ui center aligned header">
      <%= f.submit "記録", class: "ui blue button" %>
    <div>
  <% end %>
</div>